body {
  font-family: 'VisSlabReg',Arial,Helvetica,sans-serif;
  color: #333;
}

.title {
  font-family: "VisSansBold",Arial,Helvetica,sans-serif;
  font-weight: normal;
  color: #333; /* #cc0000; */
}

.subtitle {
  background: #c00;
  display: inline-block;
  padding: 3px 7px 4px 5px;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.date {
  font-family: 'VisSlabBold',Georgia,Times,serif;
  font-weight: normal;
}

.tocify {
  font-family: "VisSlabBold",Arial,Helvetica,sans-serif;
  font-weight: normal;
}

h1 {
  color: #c00;
}

h2, h3, h4, h5 {
  color: #333;
}

h2 {
  font-family: 'VisSlabBold',Georgia,Times,serif;
  font-weight: normal;
}

h1, h3 {
  font-family: "VisSansBold",Arial,Helvetica,sans-serif;
  font-weight: normal;
}

th {
  font-family: "VisSansBold",Arial,Helvetica,sans-serif;
  font-weight: normal;
}

td {
  font-family: "VisSansBook",Arial,Helvetica,sans-serif;
  font-weight: normal;
}

a {
  color: #078078;
}

ul {
  list-style: none;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: #333;
    background-color: rgba(153, 204, 221, 0.6);
    border-color: rgba(153, 204, 221, 0.6);
}
