body {
  color: #333;
}

.title {
  color: #c00;
}

.subtitle {
  color: #990000;
}

.date {
  color: #333;
}

h1 {
  color: #c00;
}

h2, h3, h4, h5 {
  color: #990000;
}

a {
  color: #0d4b58;
  text-decoration: underline;
}

a:hover {
  color: #990000;
  text-decoration: none;
}
